@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .contactInput{
    @apply w-full rounded-lg border-b-[1px]  border-sky-500 bg-[#191b1e] 
    text-lightText px-4 active:outline-none focus-visible:outline-sky-400 outline-none focus-visible:border-b-transparent duration-300
  }

  .aboutLinks{
    @apply w-full h-12  bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer 
    duration-300 items-center shadow-sky-400 shadow-md rounded-none hover:bg-sky-600 hover:bg-opacity-70 hover:border-none
  }
} 

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: "DancingScript";
  src: url('../src/assets/fonts/DancingScript.ttf');
}

@font-face {
  font-family: "GreatVibes";
  src: url('../src/assets/fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url('../src/assets/fonts/PlayfairDisplay.ttf');
}